<p id="notice"><%= notice %></p>


<div class="main">
  <h1>物件一覧</h1>
  <div class="search-index">
    <%#= search_form_for(@q, url:properties_path, method: :get) do |f| %>
      <%#= f.label :title_or_description_or_prefecture_code, '趣味' %>
      <%#= f.search_field :title_or_description_or_prefecture_code_cont %>
      
      <%#= f.label :prefecture_code, '都道府県' %>
      <%#= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
      
      <%#= f.label :price, '価格' %>
      <%#= f.number_field :price_gteq %>
      <%#= f.number_field :price_lteq %>
      
      <%#= f.submit "検索" %>
    <%# end %>
    
  </div>
  <div class="property-index">
    <% @properties.each do |property| %>
      <div class="property-index-item">
        <h3><%= link_to property.title, property %></h3>
        <% if property.image? %>
          <%= image_tag property.image.url, class: 'image-index'%>
        <% else %>
          <%= image_tag "noimage.png" %>
        <% end %>
        <%= property.prefecture %>
        <%= property.hobby %>
        <%= property.description %>
        <%= property.price %>
       
      </div>
    <% end %>
  
 
  </div>
</div>